<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.gil.foodMarket.model.MemberDTO" alias="memberDTO" />
		<typeAlias type="com.gil.foodMarket.model.CommonDTO" alias="commonDTO" />
		<typeAlias type="com.gil.foodMarket.model.MarketDTO" alias="marketDTO" />
		<typeAlias type="com.gil.foodMarket.model.UploadFileDTO" alias="uploadfileDTO" />
		<typeAlias type="com.gil.foodMarket.model.ReplysDTO" alias="replysDTO" />
	</typeAliases>
	
</configuration>